.container {
    padding-top: 350px;
    margin-bottom: 430px;
    height: 550px;
}

.title {
    font-size: 35px;
}

.label {
    font-size: 100px;
    font-weight: 800;
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    .container {
        padding-top: 450px;
        margin-bottom: 480px;
        height: 700px;
    }
    .title {
        font-size: 40px;
    }
    .label {
        font-size: 120px;
        font-weight: 800;
    }

}