
/* BOTTOM */

.bottom {
  margin-bottom: 10px;
  background-color: #ffffff;
}

.bottom .button{
  padding-bottom: 20px; 
  padding-top:20px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .bottom {
      margin-bottom: 15px;
      background-color: #ffffff;
    }

    .bottom .button{
      padding-bottom: 25px; 
      padding-top:25px;
      font-size: 33px;
      font-weight: 600;
      margin-top: 30px;
    }
}
