body{
  height: 100%;
  overflow-y: hidden;
}

.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* HEADER */
.Header-row {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:  #f7f7f7;
  color:  #2b2b2b;
}

.Header-row .col1{
  font-size: 40px;
}

.Header-row .col2{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); 
}

.Header-row .col3 div:first-child{
  font-size: 34px;
}

.Header-row .col3 div{
  font-size: 20px;
}

.Header-row .logo{
  height: 60px;
}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .Header-row .col1{
      font-size: 50px;
    }

    .Header-row .col2{
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); 
    }

    .Header-row .col3 div:first-child{
      font-size: 54px;
    }

    .Header-row .col3 div{
      font-size: 26px;
    }

    .Header-row .logo{
      height: 80px;
    }
}


/* BOTTOM */

.bottom {
  margin-bottom: 10px;
  background-color: #ffffff;
}

.bottom .button{
  padding-bottom: 20px; 
  padding-top:20px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .bottom {
      margin-bottom: 15px;
      background-color: #ffffff;
    }

    .bottom .button{
      padding-bottom: 25px; 
      padding-top:25px;
      font-size: 33px;
      font-weight: 600;
      margin-top: 30px;
    }
}

/* ORDER */

.order {
  padding-top: 150px;
  margin-bottom: 30px;
}

.order .productImage{

  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  
}



.order .numbers{
  font-size: 25px;
  font-weight: 400;
  padding-top: 50px;
}

.order .quantity {
  text-align: right;
  font-size: 35px;
  font-weight: 600;
  padding: 10% 0;
}

.order .quantitybutton{
  width: 40px;
  height: 40px;
  font-size: 20px;
  margin: 5px;
  
  
}

.order .cart {
  padding-top: 0px;
  min-height: 500px;
}

.order .cart .item {

  background-color: #f8f9fa;
  font-size: 28px;
  font-weight: 300;
  padding-top: 55px;
  padding-bottom: 55px;
  
}

.order .cart .itemLabel{
  font-size: 32px;
  padding-left: 15px;
}

.order .title{
  font-size: 35px;
  font-weight: 800;
  color:#007bff;
  margin-bottom:50px;
  margin-top:25px;
 
}

.order .position {
  font-size: 35px;
  font-weight: 600;
  margin-top: 50px;
}

.order .drawingBuffer{

  height: 10px;
  
}

.order #interactive{
  margin-top: 20px;
}

.order .barcode{
  font-size:90px;
}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

    .order .drawingBuffer{

      height: 10px;
      
    }
    
    .order .barcode{
      font-size:120px;
    }
    .order #interactive{
      margin-top: 100px;
    }

    .order {
      padding-top: 170px;
     
      
    }

    .order .productImage{
      height: 700px;
    }

    .order .numbers{
      font-size: 35px;
      font-weight: 400;
      padding-top: 120px;
    }


    .order .quantity {
      text-align: right;
      font-size: 45px;
      font-weight: 600;
      padding: 10% 0;
    }

    .order .quantitybutton{
      width: 60px;
      height: 60px;
      font-size: 30px;
    }

    .order .cart {
      padding-top: 20px;
      min-height: 730px;
    }

    .order .cart .item {

      background-color: #f8f9fa;
      font-size: 36px;
      font-weight: 600;
      padding-top: 85px;
      padding-bottom: 85px;
      
    }

    .order .cart .itemLabel{
      font-size: 44px;
      padding-left: 15px;
    }

    .order .title{
      font-size: 45px;
      font-weight: 900;
      color:#007bff;
      margin-bottom:60px;
      margin-top:20px;
     
    }

    .order .position {
      font-size: 45px;
      font-weight: 600;
      margin-top: 70px;
    }
    
  }



  .model .title {
    font-size: 25px;
  }

  .model .body {
    font-size: 20px;
  }

  .model .button{
    font-size: 20px;
    width: 100%;
    font-weight: 800;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

    .model .title {
      font-size: 35px;
    }

    .model .body {
      font-size: 30px;
    }


  .model .button{
    font-size: 30px;
    width: 100%;
    font-weight: 800;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  }

  